extends layout

block content
  h1= title
  p Welcome to the island
  p Do you know what going on ? No ? Yes ? if yes then good for you but if it a no then ahhh, you must be a perfectly normal human. 
  h2 Now pay the man some respect and maybe he will show you how to "Da binh xang con"
  image(src="images/hoang.jpeg")
