extends layout

block content
  h1= title
  p Welcome to the #{title}
  p You probably got lost, follow the link below to go back to our HomePage
  a(href="http://seafarm.vn") SeaFarm - From the Sea to the Farm
